@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?vxg909');
  src:  url('/fonts/icomoon.eot?vxg909#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?vxg909') format('truetype'),
  url('/fonts/icomoon.woff?vxg909') format('woff'),
  url('/fonts/icomoon.svg?vxg909#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}